Flask==1.1.1
Flask-Cors==3.0.8
Flask-JWT-Simple==0.0.3
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.3.0
gast==0.2.2
gensim==3.6.0
graphviz==0.10.1
h5py==2.9.0
html5lib==0.999999999
humanfriendly==4.18
hyperlink==19.0.0
ipaddress==1.0.22
ipykernel==4.10.0
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
joblib==0.11
jsonpickle==1.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
nltk==3.4
numpy==1.16.4
pandas==0.23.4
pandocfilters==1.4.2
pathlib2==2.3.2
patsy==0.4.1+dev
pbr==3.1.1
pexpect==4.6.0
pickleshare==0.7.5
pika==0.12.0
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.9.1
rocketchat-API==0.6.32
tensorboard==1.13.1
tensorflow==1.13.2
tensorflow-estimator==1.13.0
